.best {
	background: url(../img/bg/best.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.best .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.best .section__title {
	margin-bottom: 80px;
}

.section__title.section__title-black {
	color: $black;
} 

.best__list {
	font-size: 0;
}

.best__list * {
	font-size: 14px;
}

.best__item {
	display: inline-block;
	vertical-align: top;
	width: 33.2%;
}

.best__icon {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
}

.best__icon-pic {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.best__title {
	font-size: 24px;
	font-family: "Lifehack Medium";
	color: $black;
	margin-bottom: 20px;
}

.best__block p {
	font-size: 14px;
	line-height: 1.8;
}