.order {
	background: url(../img/bg/order.jpg) center center no-repeat;
	background-size: cover;
	position: relative;
}

.order .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.order .section__title {
	text-align: center;
} 

.order__form {
	margin-left: -5%;
}

.order__form-col {
	float: left;
	width: 45%;
	margin-left: 5%;
}

.order__form-row {
	margin-bottom: 16px;
}

.order__form-row_double {
	margin-left: -20px;
}

.order__form-block {
	display: block;
}

.order__form-row_double .order__form-block {
	float: left;
	width: calc(100% / 2 - 20px);
	margin-left: 20px;
}

.order__form-label {
	margin-bottom: 17px;
	color: #fff;
	font-size: 14px;
	font-family: "Ubuntu-Light";
}

.order__form-input {
	font-size: 14px;
	padding: 5px 10px;
	border: 1px solid #d1cfcb;
	border-radius: 5px;
	width: 100%;
}

.order__form-row_quatro {
	margin-left: -20px;
}

.order__form-row_quatro .order__form-block {
	float: left;
	width: calc(100% / 4 - 20px);
	margin-left: 20px;
}

.order__form-input_textarea {
	height: 110px;
}

.order__radio {
	position: relative;
	white-space: nowrap;
	display: inline-block;
	margin-right: 20px;
	vertical-align: middle;
	cursor: pointer;
}

.order__radio-elem {
	position: absolute;
	top: 0;
	left: -9999px;
}

.order__radio-fake {
	width: 16px;
	height: 16px;
	position: relative;
	background: #fff;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-radius: 50%;
		position: absolute;
		background: $red;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		transition: .3s;
	}
}

.order__radio-elem:checked+ .order__radio-fake:after {
	width: 8px;
	height: 8px;
}

.order__radio-title {
	display: inline-block;
	color: #fff;
	vertical-align: middle;
	font-size: 14px;
	margin-left: 10px;
	font-family: "Ubuntu-Light";
} 

.order__radio_checkbox .order__radio-fake {
	border-radius: 0;
}

.order__radio_checkbox .order__radio-elem+ .order__radio-fake:after {
	background: transparent;
}

.order__radio_checkbox .order__radio-elem:checked+ .order__radio-fake:after {
	background: url(../img/icons/check.svg) 50% repeat transparent;
	background-size: contain;
	width: 11px;
	height: 9px;
}

.order__form-button {
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	border: 0;
	background: $red;
	font-size: 13px;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	text-transform: uppercase;
	cursor: pointer;
}

.order__form-button_reset {
	padding: 0;
	text-transform: none;
	background: transparent;
}
